<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/estilos.css">

</head>

<body>
    <!-- Menu -->
    <div class="topo">

        <img src="../static/imagens/logo.png" alt="logo">

        <div class="link">
            <a href="/" >Home | </a>
            <a href="/quemsomos" >QuemSomos | </a>
            <a href="/contatos" >Contatos | </a>
            <a href="/users">Users</a>
        </div>

    </div>

{% block conteudo %}

{% endblock %}

    <!--Rodapé-->

    <div>

    <h4><center> Todos os direitos reservados </center><h4>
   
    </div>

</body>
</html>