{% extends "base.html" %}

{% block conteudo %}

<body background="../static/imagens/fundo.png">
<title>Home</title>

    <!-- Corpo-IMG -->

    <div class="capa">

        <img src="../static/imagens/capa.png" alt="Capa">

    </div>

    
    <!-- Corpo-TXT -->

    <div>
        <h1>Sobre a Universidade</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro iste vitae tempore expedita corporis. Eos, unde autem eum aspernatur ipsum exercitationem architecto ratione dignissimos ad itaque atque vitae voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis blanditiis, minus, praesentium odit eligendi exercitationem eveniet aliquid error accusamus similique dolor nemo optio nam, reiciendis nihil consequatur eius earum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium minus blanditiis impedit commodi tempore. Rem, illo praesentium? Quos odit in excepturi dolor error! Tenetur ea, minus ad minima neque excepturi.</p>
        
    </div>
    
    <div>
       
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque iste earum odit perspiciatis praesentium? Aliquam accusamus ad labore. Iure minus maxime pariatur illum cumque dicta nobis animi officia aut modi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint laboriosam minima possimus fugit, officiis exercitationem rerum. Exercitationem, reiciendis voluptatum eum vitae repellat doloremque, sequi et optio neque, asperiores veritatis similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloribus quasi, dolor debitis maxime earum? Corporis id sapiente voluptatem, laboriosam possimus magnam numquam dicta itaque, voluptatibus minus, odio alias quidem.</p>

    </div>

</body>

{% endblock %}